<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sxt.entity.student.mapper">
<!-- 
按结果嵌套处理
<select id="getStudents" resultMap="StudentTeacher">
select s.id sid,s.name sname,s.tid stid,t.id tid,t.name tname from student s,teacher t where s.tid = t.id

</select>
<resultMap type="cn.sxt.entity.Student" id="StudentTeacher">
<id column="sid" property="id"/>
<result column="sname" property="name"/>
<association property="teacher" javaType="cn.sxt.entity.Teacher">
<id column="tid" property="id"/>
<result column="tname" property="name"/>
</association>
</resultMap>
-->
<select id="getStudents" resultMap="StudentTeacher"> 
select * from student
</select>
<resultMap type="cn.sxt.entity.Student" id="StudentTeacher">
<association property="teacher" column="tid" javaType="cn.sxt.entity.Teacher" select="getTeacher"></association>
</resultMap>
<select id="getTeacher" resultType="cn.sxt.entity.Teacher">
select * from teacher where id = #{id}
</select>

</mapper>